@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.App {
  text-align: center;
  font-family: 'Muli', sans-serif;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, white, #522D8C);
}

.App-link {
  color: #61dafb;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 1vh;
}

.profil-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.skills-wrapper {
  display: flex;
  margin-top: 3vh;
  width: 100%;
}

.footer-wrapper  {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  width: 100%;
  color: black;
}

.contact-wrapper  {
  display: flex;
  margin-top: 4vh;
  width: 100%;
  height: 100%;
}

.main-image-footer-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid black;

  @media screen and (max-width: 768px) {
    align-items: center;
    flex-direction: column;
  }
  .image-footer-js {
    width: 250px;
    transition: transform 2s ease-out 100ms;
    height: 200px;
    margin-right: 5vh;
    border-radius: 90%;
    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 1vh;
    }
  }
  .image-footer-teamwork {
    width: 200px;
    height: 200px;
    transition: transform 2s ease-out 100ms;
    margin-right: 5vh;
    border-radius: 90%;
    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 1vh;
    }
  }
  .image-footer-teamflow  {
    width: 250px;
    height: 200px;
    transition: transform 2s ease-out 100ms;
    border-radius: 90%;
    @media screen and (max-width: 768px) {
      margin-bottom: 2vh;
    }
  }

  .image-footer-js:hover,
  .image-footer-teamwork:hover,
  .image-footer-teamflow:hover   {
      transform: scale(1.05)
  }
}

