.container-contact  {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 4vh;
    background-color: whitesmoke;
    @media screen and (max-width: 768px)  {
        flex-direction: column;
        align-items: center;
    }

    .contact-form-link  {
        height: 100%;
        border: 1px solid black;
        width: 80%;
        text-align: left;
        @media screen and (max-width: 768px)  {
            text-align: center;
        }
        .show-mail-contact  {
            strong {
                margin-bottom: 10px;
            }
            @media screen and (max-width: 768px)  {
                text-align: center;
                margin-top: 5px;
                margin-bottom: 25px;

            }
            .contact-proton-image   {
                width: 30px;
                height: 30px;
                margin-right: 10px;
                margin-left: 10px;
                margin-bottom: -5px;
            }
        }
    }
    .contact-option-gif-image {
        width: 30%;
        height: auto;
        margin-right: 5vh;
        @media screen and (max-width: 768px)  {
            width: 80%;
            height: 100%;
            margin-bottom: 2vh;
            margin-right: 0;
        }
    }
}
